<div>
  <h2>测试例执行情况</h2>
  <table border="1" width="400">
    <thead>
    <th>测试人员</th>
    <th>分配测试用例数量</th>
    <th>未执行测试用例数量</th>
    </thead>
    <tbody>
    <tr>
      <td colspan="3">今日情况</td>
    </tr>
    <% @test_stat_today.each do |t| %>
        <tr
        <% if t[2].to_i > 0 %>
        bgcolor="red"
        <% end %>
        >
          <% t.each do |e| %>
              <td align="center">
                <%= e %>
              </td>
          <% end %>

        </tr>
    <% end %>
    <tr>
      <td colspan="3">
        昨日情况
      </td>
    </tr>
    <% @test_stat_yestoday.each do |t| %>
        <tr
        <% if t[2].to_i > 0 %>
        bgcolor="red"
        <% end %>
        >
          <% t.each do |e| %>
              <td align="center">
                <%= e %>
              </td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>


