<table>
  <thead>
    <th>姓名</th>
    <th>任务数量</th>
    <th>完成数量</th>
  </thead>
  <tbody>
    <tr>
      <td colspan="3">今日情况</td>
    </tr>
    <% @test_stat_today.each do |t|%>
        <tr>
          <% t.each do |e| %>
          <td>
            <%=e%>
          </td>
          <%end%>
        </tr>
    <% end %>
    <tr>
      <td colspan="3">
        昨日情况
      </td>
    </tr>
    <% @test_stat_yestoday.each do |t|%>
        <tr>
          <% t.each do |e| %>
          <td>
            <%=e%>
          </td>
          <%end%>
        </tr>
    <% end %>
  </tbody>
</table>


